.header {
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: black;
}

.header .buyBtn {
  background-color: #7aa93c;
  border-color: #7aa93c;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

#main_header,
#main_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main_header .salam,
.options {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main_header .salam .mode {
  width: 170px;
  display: flex;
  justify-content: space-around;
}

#currency,
#language {
  font-size: small;
  border: none;
  cursor: pointer;
  background-color: #abd373;
  color: white;
}

option {
  color: black;
  background-color: #ffffff;
  cursor: pointer;
}

#phone i {
  color: #abd373;
  background-color: #ffffff;
  text-align: center;
  font-size: 50px;
}

#phone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phoneNumber {
  border: none;
  color: black;
  text-decoration: none;
  padding-left: 20px;
  font-size: 20px;
}

.phoneNumber:hover {
  border: none;
  color: #abd373;
  transition: 0.75s;
}

#options i {
  font-size: 25px;
  padding-left: 5px;
  cursor: pointer;
}

#options i:hover {
  border: none;
  color: #abd373;
  transition: 0.75s;
}

.web_pages ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0px;
  height: 30px;
  width: 100%;
}
.web_pages li {
  padding-right: 15px;
}

.web_pages li a {
  text-decoration: none;
  font-size: small;
  color: black;
}

.web_pages li a:hover {
  color: #abd373;
}

.web_pages li {
  list-style-type: none;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}


.slide_text .discoverBtn{
  background-color: #abd373;
  border-color: #abd373;
  border-radius: 20px;
}
.slide_text .discoverBtn:hover{
  background-color: gray;
  border-color: gray;
  transition: 0.75s;

}

.slide_text h3 {
  font-size: 40px;
  
}

.slide_text h1 {
  font-size: 60px;
  
}

.slide_text img {
  object-fit: cover;
  width: 450px;
  height: 450px;
}


